<div class="container">
  <h1>Zipf distribution of "Carmilla" by Sheridan Le Fanu</h1>
  <p>This distribution uses full text of the 1872 Gothic novella "Carmilla" 
      by Sheridan Le Fanu, with text provided by The Project Gutenberg.</p>
<!--graphs and such. PLEASE add them tomorrow girl i am dying and in pain rn-->
<!--also add some download buttons-->
</div>