<div class="container">
  <h1>Zipf distribution of works written by H.P. Lovecraft</h1>
  <p>This distribution uses texts of all works written by H.P. Lovecraft, taken from
  "The Complete Works of H.P. Lovecraft", compiled by CthulhuChick.com</p>
<!--graphs and such. PLEASE add them tomorrow girl i am dying and in pain rn-->
<!--also add some download buttons-->
</div>