<div class="container">
    <h1>About</h1>
    <p>This website was created for the purpose of demonstrating one of the main
    instances, to which the Zipf's Law can be applied(????????????????).</p><br>
    <p>This is done by generating a Zipfian distribution of two texts: "The Complete Works of H.P. Lovecraft", which is 
    a collection of all works written by an American horror writer H.P. Lovecraft, and "Carmilla", 
    which is a Gothic novella written by an Irish writer Sheridan Le Fanu. The reason for choosing 
    these two bodies of work is to show the difference between their possible distributions, considering 
    their total amount of words and times at which they were created.</p><br>
    <!--add some stuff about the distribution itself--><br>
    <p>This website was created by a fan of horror and horror-esque literature(??????)</p>
</div>