<div class="container">
  <h1>Zipf distribution of works written by H.P. Lovecraft</h1>
  <p>This distribution uses texts of all works written by H.P. Lovecraft, taken from
  "The Complete Works of H.P. Lovecraft", compiled by CthulhuChick.com</p>
  <%= column_chart [['the',31670],['and',18324],['of',17402],['to',9685],['a',9254],
  ['in',8128],['i',6328],['was',6193],['that',6116],['had',5322],
  ['he',4565],['it',4179],['with',3388],['as',3331],['his',3105],['for',2895],
  ['at',2802],['from',2731],['on',2712],['which',2712],['but',2682],
  ['not',2591],['were',2407],['my',2205],['they',1940],['by',1932],['all',1908],
  ['be',1744],['or',1696],['there',1662],['this',1600],
  ['an',1581],['have',1541],['me',1489],['could',1467],['one',1443],['when',1418],['him',1356],
  ['we',1335],['no',1307],['been',1294],['so',1198],['some',1193]], 
  download: {filename: "lovecraft_graph", background: "#ffffff"} %>
</div>