<div class="container">
    <h1>About</h1>
    <p>This website was created for the purpose of demonstrating one of the main
    instances, to which the Zipf's Law can be applied.</p><br>
    <p>This is done by generating a Zipfian distribution of two texts: "The Complete Works of H.P. Lovecraft", which is 
    a collection of all works written by an American horror writer H.P. Lovecraft, and "Carmilla", 
    which is a Gothic novella written by an Irish writer Sheridan Le Fanu. The reason for choosing 
    these two bodies of work is to show the difference between their possible distributions, considering 
    their total amount of words and times at which they were created.</p><br>
    <p>Given a set of Zipf-distributed frequencies, sorted from most common to least common, 
    the second most common frequency will occur half as often as the first, the third most common 
    frequency will occur 1/3 times as often as the first, 
    and the nth most common frequency will occur 1/n times as often as the first. </p><br><br>
    <h3>This website was created by Anastasiia Cherepakhina</h3>
</div>