<div class="container">
    <h1>Help</h1>
    <p>To view the distributions, choose one of the two available options in the dropdown menu 
    of the navigation bar above.</p><br>
    <p>To download the results of the distributions, click on the "Download" button to save the data.</p>
</div>